LINE_CHANNEL_SECRET_DOBBY=
LINE_CHANNEL_ACCESS_TOKEN_DOBBY=
LINE_CHANNEL_SECRET_BATTING=
LINE_CHANNEL_ACCESS_TOKEN_BATTING=
NOTION_API_KEY=
NOTION_DB_USERS=
NOTION_DB_CALENDAR=
NOTION_DB_PEOPLE=
NOTION_DB_SEASON=
NOTION_DB_ANNOUNCEMENT=
LOGS_ACCESS_TOKEN=
PORT=3000
NODE_ENV=development
